      
      <div class="form">
             <form action="/users/login" method="post" class="form-login">
                <h2 class="form-heading">Login</h2>
    
                    <input class="form-control" type="text"  name="username" placeholder="username" >
                    <input class="form-control" type="password"  name="password" placeholder="password">
                    <button type="submit" class="btn login-btn">Login</button>
               
            </form>
              <p>Need an account? <a href="/users/register" class="foot-link">Sign up</a></p>
      </div>
  